*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header{
    display: flex;
    box-shadow: 1px 1px 10px #899590;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #F2F1EC;
    height: 70px;
    justify-content: space-between;
    padding: 0 30px;
}

header a, header h1{
    font-size: 20px;
}

header h1{
    color: #FA6202;
}

header a{
    color: #4F5252;
}

section .favoritesRecipes{
    display: grid;
    height: 173px;
    background-color: #F0FDF8;
    overflow-x: scroll;
   scrollbar-width: thin;
}

.favoritesRecipes h6{
    color: #4C4B48;
}

.favoritesRecipes .image{
    margin: 8px;
}

.favoritesRecipes .image img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #899590;
    overflow: hidden;
    border: 3px solid white;
}

.container-favorites{
    display: flex;
    text-align: center;
   align-items:center;
   padding: 20px 0;
   margin-left: 15px;
}

section .recipes{
    width: 100%;
    padding: 30px;
}

.recipes .card-recipe{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #899590;
    margin: 15px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card-recipe img{
width: 100%;
height: 80%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
overflow: hidden;
}

.card-recipe .description{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 50px;
}

.description .stars button{
    color: #4F5252;
    font-size: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 2px;
}

.description h3{
    color: #303030;
    font-size: 15px;
}

a{
    text-decoration: none;
}

.gold{
    color: gold;
}

@media only screen and (width >= 768px){

    .recipes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .recipes .card-recipe{
        width: 45%;
        margin: 15px 10px;
    }

}

#probar{
    position: absolute;
    top: 300px;
    left: 20px;
    border: 1px solid #899590;
    background-color: #899590;
    padding: 10px;

}

@media only screen and (width > 1024px){

    header{
        padding: 0 60px;
    }

    .recipes{
        display: flex;
        flex-wrap: wrap;
    }

    .recipes .card-recipe{
        width: 31%;
        margin: 15px 10px;
    }

    .container-favorites{
       margin-left: 35px;
    }

}